/* Profile.css */
.profile-box {
    margin: 100px auto;
    width: 300px;
    padding-left: 100px;
    border: 1px solid rgb(169, 124, 214);
    border-radius: 5px;
    text-align: center;
    color: rgb(169, 124, 214);
    padding-right: 100px;
    padding-bottom: 50px;
  }
  
  .profile-box h2 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid rgb(169, 124, 214);
  }
  
  th {
    background-color: rgb(128, 74, 182);
    color: white;
  }
  
  /* Navigation buttons after the table */
  .navigation-buttons {
    margin-top: 20px;
    text-align: center;
  }
  
  .navigation-buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background-color: rgb(128, 74, 182);
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navigation-buttons a:hover {
    background-color: rgb(94, 53, 128);
  }
  